* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 95%;
    margin: 0 auto;
    max-width: 70em;
}

/* typographie
================== */
h1 {
    font-weight: 900;
}




/* button */

.button {
    display: inline-block;
}


.button-submit {
    background-color: none;
    outline-color: invert;
}




/* header */

header {




}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline;
    margin: 1em;
}

nav a {
    font-weight: 500;
    text-decoration: none;
    color: #000;
}

nav a:hover,
nav a:focus {
    color: #DDD;
}
